.booking-section {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

  p {
    color: rgba($color: #000000, $alpha: 0.5);
    margin-right: 20px;
    margin-bottom: 8px;
  }

  .active {
    color: rgba($color: #000000, $alpha: 0.8);
  }
}

.booking-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.price-booking, .price-item {
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.bold {
  font-weight: 600;
}

.border-top {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.05)!important;
}
.prices {
  padding: 20px;
  background-color: rgba($color: #000000, $alpha: 0.02);
  border-radius: 20px;
}

.fake-form {
  padding: 20px 20px 30px 20px;
  margin-top: 20px;
  background-color: rgba($color: #000000, $alpha: 0.02);
  border-radius: 20px;

  input {
    margin-bottom: 45px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.5);
    width: 80%;
  }

  p {
    margin-bottom: 2px;
  }
}

.booking-button {
  background-color: #08B4EE;
  border-radius: 50px;
  padding: 5px 20px;
  color: white;
}

.image-holder3 {
  width: 220px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;
}

.booking-section2 {
  display: flex;
  justify-content: space-between;
}

.left2 {
  width: 60%;
  padding: 0px 120px 0px 0px;
}

.info-text {
  color: rgba($color: #000000, $alpha: 0.7);
}

.mb-0 {
  margin-bottom: 0!important;
}