// Specific CSS for your home-page
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  padding: 0px 40px;
  background: white;
}

.down {
  position: relative;
  top: -25px;
  left: 40px;
}

.logo {
  position: relative;
  top: -32px;
}

.photo {
  margin-top: -28px;
}

.image {
  position: relative;
  

  .content  {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 100%;
    color: white;
  }

    h1 {
      font-size: 3.8rem;
      margin-bottom: 40px;
      font-style: italic;
      font-weight: 600;
    }

    p {
      display: block;
      margin-bottom: 0;
    }

    .input {
      display: flex;
      margin-top: 20px;
      justify-content: center;
    }

    .email {
      background-color: rgba(255,255,255,0.9);
      border-radius: 100px 0px 0px 100px;
      width: 300px;
      margin-right: 3px;
      height: 40px;
    }

    .submit {
      background-color: #08B4EE;
      border-radius: 0px 100px 100px 0px;
      width: 80px;
      height: 40px;
      padding-top: 8px;
      font-weight: 500;
    }
}

.footer {
  height: 150px;
  flex-grow: 1;
}