<div class="container">
<%= render '/shared/navbar' %>

<h1 class="booking-title">Booking</h1>
<div class="booking-section d-flex">
<p class="options active">Payment complete
</div>
<div class="confirmation">
<i class="far fa-check-circle"></i>
<p>Payment was successful and the booking request has been sent to the box owner. You will receive an email once approved and your tickets will be emailed within 7 days of the event. They will also be available in your bookings.</p>
<p class="bold mt-4">Enjoy the show!</p>
</div>
</div>