  <div class="footer">
    <div class="left3">
      <%= mail_to "enquiries@swopbox.net", "Contact us", target: :blank %>
      <p><%= link_to "Download Information Pack", "/pdf/swopbox.pdf", target: :blank %></p>
    </div>
    <div class="right3">
      <p>Copyright © 2021 SwopBox. All rights reserved.</p>
    </div>
  </div>