<div class="wrapper">
  <div class="header">
    <div class="d-flex justify-content-between">
    <%= image_tag "Swopbox_logo.jpg", alt: "logo", align:"center", height: "100px", class: "logo" %>
    <%= image_tag "down_graphic.png", alt: "graphic", align:"center", height: "175px", class: "down" %>
    </div>
  </div>

  <div class="image">
    <%= image_tag "Landing-photo1.jpg", alt: "corporate box", align:"center", width: "100%", class: "photo" %>
  </div>

  <div class="footer">
  </div>

</div>
