<div class="container">
<%= render 'shared/navbar' %>
<h1 class="booking-title">Ticket</h1>
<div class="booking-section d-flex">
<p class="options active">Your ticket for Jolimont Club at Melbourne Cricket Ground</p>
</div>
<br>
<h3><%= @ticket.booking.event.box.name %></h3>
</div>